$max-width: 80em;

* {
  margin: 0;
  border: 0;
  padding: 0;
}

.app-header {
  background-color: aquamarine;
  width: 100%;
}

.app-header-content {
  background-color: azure;
  max-width: $max-width;
  margin: 0 auto;
}

.app-body {
  background-color: burlywood;
  margin: 0 auto;
  max-width: $max-width;
  clear: both;
}

.deck {
  display: grid;
  grid-template-areas:
    "task"
    "progress"
    "info";
  height: 400px;
}

@media (min-width: 60em) {
  .deck {
    grid-template-areas: "info task task task progress";
  }
}

.deck-info {
  grid-area: info;
  background-color: lemonchiffon;
}

.deck-task {
  grid-area: task;
  background-color: lightblue;
}

.deck-progress {
  grid-area: progress;
  background-color: moccasin;
}

.app-header-name {
  font-size: large;
  padding: 0.5rem;
  float: left;
}

.app-header-right {
  background-color: olive;
}

.app-header-right > nav > ul {
  list-style-type: none;
}

.app-header-right > nav > ul > li {
  display: inline;
  padding: 0.5rem;
  float: right;
}

.deck-info > hr {
  border-top: 1px solid black;
}
